In [32]:
#Set the modules and bring in the data
import csv
import os
import pandas as pd
import numpy as np
import functools
#Join Conditions
def conjunction(*conditions):
    return functools.reduce(np.logical_and, conditions)
#Kelvin to Fahrenheit conversion
def kelvin_to_fahrenheit(tempereture_kelvin):
   tempereture_fahrenheit = (((tempereture_kelvin - 273) * 9/5) + 32)
   return tempereture_fahrenheit

os.chdir('/Users/macbook/Desktop/Data-Program-Files/Group-Projects/Team-Folder/Raw_Data/')

#Get month data
Jan = pd.read_csv("fhv_tripdata_2018-01.csv", parse_dates=[0], low_memory=False)
Jan = Jan.dropna(subset= ['Pickup_DateTime'])
Jan = Jan.dropna(subset= ['DropOff_datetime'])
Jan = Jan.dropna(subset= ['DOlocationID'])
Jan = Jan.dropna(subset= ['PUlocationID'])
Jan = Jan.fillna(0)
Jan['Pickup_DateTime'] = pd.to_datetime(Jan['Pickup_DateTime'])
Jan['DropOff_datetime'] = pd.to_datetime(Jan['DropOff_datetime'])
Jan['Trip_Duration'] = (( pd.to_timedelta(Jan.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jan.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jan.drop_duplicates(subset=None, keep='first', inplace=False)

Jan.head()

KeyboardInterrupt:

In [4]:
#Get month data
Feb = pd.read_csv("fhv_tripdata_2018-02.csv", parse_dates=[0], low_memory=False)
Feb = Feb.dropna(subset= ['Pickup_DateTime'])
Feb = Feb.dropna(subset= ['DropOff_datetime'])
Feb = Feb.dropna(subset= ['DOlocationID'])
Feb = Feb.dropna(subset= ['PUlocationID'])
Feb = Feb.fillna(0)
Feb['Pickup_DateTime'] = pd.to_datetime(Feb['Pickup_DateTime'])
Feb['DropOff_datetime'] = pd.to_datetime(Feb['DropOff_datetime'])
Feb['Trip_Duration'] = (( pd.to_timedelta(Feb.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Feb.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Feb.drop_duplicates(subset=None, keep='first', inplace=False)

Feb.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-02-09 23:55:00,2018-02-10 00:15:00,265.0,265.0,0.0,B01268,0.0,20.0
1,2018-02-09 23:54:00,2018-02-10 00:48:00,265.0,265.0,0.0,B01268,0.0,54.0
4,2018-02-09 23:07:22,2018-02-09 23:11:54,188.0,72.0,1.0,B02510,0.0,5.0
5,2018-02-09 23:16:22,2018-02-09 23:39:06,72.0,225.0,1.0,B02510,0.0,23.0
6,2018-02-09 23:21:14,2018-02-09 23:50:55,72.0,49.0,1.0,B02510,0.0,30.0

In [5]:
#Get month data
Mar = pd.read_csv("fhv_tripdata_2018-03.csv", parse_dates=[0], low_memory=False)
Mar = Mar.dropna(subset= ['Pickup_DateTime'])
Mar = Mar.dropna(subset= ['DropOff_datetime'])
Mar = Mar.dropna(subset= ['DOlocationID'])
Mar = Mar.dropna(subset= ['PUlocationID'])
Mar = Mar.fillna(0)
Mar['Pickup_DateTime'] = pd.to_datetime(Mar['Pickup_DateTime'])
Mar['DropOff_datetime'] = pd.to_datetime(Mar['DropOff_datetime'])
Mar['Trip_Duration'] = (( pd.to_timedelta(Mar.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Mar.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Mar.drop_duplicates(subset=None, keep='first', inplace=False)

Mar.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-03-14 16:09:42,2018-03-14 16:45:56,241.0,47.0,1.0,B02836,0.0,36.0
1,2018-03-19 13:48:32,2018-03-19 13:54:36,76.0,76.0,1.0,B02836,0.0,6.0
2,2018-03-23 16:30:02,2018-03-23 17:24:16,50.0,223.0,1.0,B02836,0.0,54.0
3,2018-03-08 11:43:28,2018-03-08 11:54:44,210.0,123.0,1.0,B02836,0.0,11.0
4,2018-03-15 12:42:22,2018-03-15 13:40:08,26.0,234.0,0.0,B02836,0.0,58.0

In [6]:
#Get month data
Apr = pd.read_csv("fhv_tripdata_2018-04.csv", parse_dates=[0], low_memory=False)
Apr = Apr.dropna(subset= ['Pickup_DateTime'])
Apr = Apr.dropna(subset= ['DropOff_datetime'])
Apr = Apr.dropna(subset= ['DOlocationID'])
Apr = Apr.dropna(subset= ['PUlocationID'])
Apr = Apr.fillna(0)
Apr['Pickup_DateTime'] = pd.to_datetime(Apr['Pickup_DateTime'])
Apr['DropOff_datetime'] = pd.to_datetime(Apr['DropOff_datetime'])
Apr['Trip_Duration'] = (( pd.to_timedelta(Apr.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Apr.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Apr.drop_duplicates(subset=None, keep='first', inplace=False)

Apr.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-04-02 17:54:25,2018-04-02 18:25:47,211.0,74.0,0.0,B02888,0.0,31.0
1,2018-04-27 16:02:55,2018-04-27 16:16:43,234.0,79.0,0.0,B02888,0.0,14.0
2,2018-04-30 06:45:55,2018-04-30 06:58:40,74.0,243.0,0.0,B02888,0.0,13.0
3,2018-04-22 11:16:12,2018-04-22 11:30:27,195.0,33.0,0.0,B02888,0.0,14.0
4,2018-04-18 17:34:26,2018-04-18 17:53:01,196.0,92.0,0.0,B02888,0.0,19.0

In [7]:
#Get month data
May = pd.read_csv("fhv_tripdata_2018-05.csv", parse_dates=[0], low_memory=False)
May = May.dropna(subset= ['Pickup_DateTime'])
May = May.dropna(subset= ['DropOff_datetime'])
May = May.dropna(subset= ['DOlocationID'])
May = May.dropna(subset= ['PUlocationID'])
May = May.fillna(0)
May['Pickup_DateTime'] = pd.to_datetime(May['Pickup_DateTime'])
May['DropOff_datetime'] = pd.to_datetime(May['DropOff_datetime'])
May['Trip_Duration'] = (( pd.to_timedelta(May.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(May.Pickup_DateTime).dt.total_seconds() ) / 60).round()
May.drop_duplicates(subset=None, keep='first', inplace=False)

May.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-05-06 16:01:23,2018-05-06 16:10:54,210.0,123.0,0.0,B02869,0.0,10.0
1,2018-05-07 12:17:02,2018-05-07 12:34:53,233.0,226.0,0.0,B02869,0.0,18.0
2,2018-05-02 18:51:20,2018-05-02 19:11:55,100.0,158.0,0.0,B02869,0.0,21.0
3,2018-05-01 12:10:15,2018-05-01 12:17:45,65.0,231.0,0.0,B02869,0.0,8.0
4,2018-05-04 20:20:31,2018-05-04 20:51:38,244.0,254.0,0.0,B02869,0.0,31.0

In [8]:
#Get month data
Jun = pd.read_csv("fhv_tripdata_2018-06.csv", parse_dates=[0], low_memory=False)
Jun = Jun.dropna(subset= ['Pickup_DateTime'])
Jun = Jun.dropna(subset= ['DropOff_datetime'])
Jun = Jun.dropna(subset= ['DOlocationID'])
Jun = Jun.dropna(subset= ['PUlocationID'])
Jun = Jun.fillna(0)
Jun['Pickup_DateTime'] = pd.to_datetime(Jun['Pickup_DateTime'])
Jun['DropOff_datetime'] = pd.to_datetime(Jun['DropOff_datetime'])
Jun['Trip_Duration'] = (( pd.to_timedelta(Jun.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jun.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jun.drop_duplicates(subset=None, keep='first', inplace=False)

Jun.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
243,2018-06-26 13:00:00,2018-06-26 13:40:20,136.0,185.0,0.0,B03084,0.0,40.0
244,2018-06-26 10:00:00,2018-06-26 10:44:06,69.0,48.0,0.0,B03084,0.0,44.0
245,2018-06-26 09:16:00,2018-06-26 09:51:51,169.0,168.0,0.0,B03084,0.0,36.0
246,2018-06-26 08:00:00,2018-06-26 08:43:42,69.0,143.0,0.0,B03084,0.0,44.0
247,2018-06-26 14:30:00,2018-06-26 15:13:14,136.0,259.0,0.0,B03084,0.0,43.0

In [9]:
#Get month data
Jul = pd.read_csv("fhv_tripdata_2018-07.csv", parse_dates=[0], low_memory=False)
Jul = Jul.dropna(subset= ['Pickup_DateTime'])
Jul = Jul.dropna(subset= ['DropOff_datetime'])
Jul = Jul.dropna(subset= ['DOlocationID'])
Jul = Jul.dropna(subset= ['PUlocationID'])
Jul = Jul.fillna(0)
Jul['Pickup_DateTime'] = pd.to_datetime(Jul['Pickup_DateTime'])
Jul['DropOff_datetime'] = pd.to_datetime(Jul['DropOff_datetime'])
Jul['Trip_Duration'] = (( pd.to_timedelta(Jul.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jul.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jul.drop_duplicates(subset=None, keep='first', inplace=False)

Jul.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-07-08 01:06:03,2018-07-08 01:11:44,71.0,71.0,1.0,B02764,0.0,6.0
1,2018-07-03 23:08:31,2018-07-03 23:13:23,16.0,171.0,0.0,B02764,0.0,5.0
2,2018-07-08 13:50:33,2018-07-08 14:20:16,246.0,143.0,0.0,B02764,0.0,30.0
3,2018-07-02 18:11:38,2018-07-02 18:24:24,181.0,97.0,0.0,B02764,0.0,13.0
4,2018-07-06 18:32:00,2018-07-06 18:41:30,226.0,146.0,1.0,B02764,0.0,10.0

In [12]:
#Get month data
Aug = pd.read_csv("fhv_tripdata_2018-08.csv", parse_dates=[0], low_memory=False)
Aug = Aug.dropna(subset= ['Pickup_DateTime'])
Aug = Aug.dropna(subset= ['DropOff_datetime'])
Aug = Aug.dropna(subset= ['DOlocationID'])
Aug = Aug.dropna(subset= ['PUlocationID'])
Aug = Aug.fillna(0)
is_not_0_p = Aug['DropOff_datetime'].str[:4]!='3018'
Aug = Aug[conjunction(is_not_0_p)]
Aug['Pickup_DateTime'] = pd.to_datetime(Aug['Pickup_DateTime'])
Aug['DropOff_datetime'] = pd.to_datetime(Aug['DropOff_datetime'])
Aug['Trip_Duration'] = (( pd.to_timedelta(Aug.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Aug.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Aug.drop_duplicates(subset=None, keep='first', inplace=False)

Aug.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  # This is added back by InteractiveShellApp.init_path()

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-08-30 06:55:27,2018-08-30 07:35:52,132.0,265.0,0.0,B02682,0.0,40.0
1,2018-08-30 09:01:59,2018-08-30 09:49:21,100.0,265.0,0.0,B02682,0.0,47.0
2,2018-08-31 05:42:33,2018-08-31 05:46:38,85.0,89.0,0.0,B02682,0.0,4.0
3,2018-08-31 05:54:35,2018-08-31 06:02:14,85.0,188.0,0.0,B02682,0.0,8.0
4,2018-08-31 06:06:57,2018-08-31 06:29:42,62.0,13.0,0.0,B02682,0.0,23.0

In [13]:
#Get month data
Sep = pd.read_csv("fhv_tripdata_2018-09.csv", parse_dates=[0], low_memory=False)
Sep = Sep.dropna(subset= ['Pickup_DateTime'])
Sep = Sep.dropna(subset= ['DropOff_datetime'])
Sep = Sep.dropna(subset= ['DOlocationID'])
Sep = Sep.dropna(subset= ['PUlocationID'])
Sep = Sep.fillna(0)
Sep['Pickup_DateTime'] = pd.to_datetime(Sep['Pickup_DateTime'])
Sep['DropOff_datetime'] = pd.to_datetime(Sep['DropOff_datetime'])
Sep['Trip_Duration'] = (( pd.to_timedelta(Sep.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Sep.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Sep.drop_duplicates(subset=None, keep='first', inplace=False)

Sep.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
21,2018-09-15 15:50:43,2018-09-15 16:15:09,162.0,158.0,0.0,B02510,0.0,24.0
22,2018-09-15 15:50:43,2018-09-15 15:58:32,112.0,80.0,1.0,B02510,0.0,8.0
23,2018-09-15 15:50:43,2018-09-15 16:05:04,14.0,22.0,0.0,B02510,0.0,14.0
24,2018-09-15 15:50:44,2018-09-15 16:06:35,234.0,48.0,1.0,B02510,0.0,16.0
25,2018-09-15 15:50:44,2018-09-15 16:11:54,87.0,158.0,0.0,B02510,0.0,21.0

In [14]:
#Get month data
Oct = pd.read_csv("fhv_tripdata_2018-10.csv", parse_dates=[0], low_memory=False)
Oct = Oct.dropna(subset= ['Pickup_DateTime'])
Oct = Oct.dropna(subset= ['DropOff_datetime'])
Oct = Oct.dropna(subset= ['DOlocationID'])
Oct = Oct.dropna(subset= ['PUlocationID'])
Oct = Oct.fillna(0)
Oct['Pickup_DateTime'] = pd.to_datetime(Oct['Pickup_DateTime'])
Oct['DropOff_datetime'] = pd.to_datetime(Oct['DropOff_datetime'])
Oct['Trip_Duration'] = (( pd.to_timedelta(Oct.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Oct.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Oct.drop_duplicates(subset=None, keep='first', inplace=False)

Oct.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
255,2018-10-31 10:24:04,2018-10-31 10:39:49,225.0,61.0,0.0,B02764,0.0,16.0
256,2018-10-31 10:45:08,2018-10-31 11:00:17,61.0,97.0,0.0,B02764,0.0,15.0
257,2018-10-31 11:06:08,2018-10-31 11:19:25,97.0,33.0,0.0,B02764,0.0,13.0
258,2018-10-31 11:44:44,2018-10-31 12:02:40,37.0,255.0,0.0,B02764,0.0,18.0
259,2018-10-31 12:05:24,2018-10-31 12:16:45,255.0,256.0,0.0,B02764,0.0,11.0

In [15]:
#Get month data
Nov = pd.read_csv("fhv_tripdata_2018-11.csv", parse_dates=[0], low_memory=False)
Nov = Nov.dropna(subset= ['Pickup_DateTime'])
Nov = Nov.dropna(subset= ['DropOff_datetime'])
Nov = Nov.dropna(subset= ['DOlocationID'])
Nov = Nov.dropna(subset= ['PUlocationID'])
Nov = Nov.fillna(0)
Nov['Pickup_DateTime'] = pd.to_datetime(Nov['Pickup_DateTime'])
Nov['DropOff_datetime'] = pd.to_datetime(Nov['DropOff_datetime'])
Nov['Trip_Duration'] = (( pd.to_timedelta(Nov.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Nov.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Nov.drop_duplicates(subset=None, keep='first', inplace=False)

Nov.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-11-30 15:36:17,2018-11-30 15:47:07,226.0,260.0,0.0,B02510,0.0,11.0
1,2018-11-30 15:36:18,2018-11-30 16:05:37,121.0,10.0,0.0,B02510,0.0,29.0
2,2018-11-30 15:36:18,2018-11-30 15:58:02,211.0,40.0,0.0,B02510,0.0,22.0
3,2018-11-30 15:36:20,2018-11-30 16:59:23,132.0,170.0,0.0,B02510,0.0,83.0
4,2018-11-30 15:36:20,2018-11-30 15:46:32,189.0,25.0,0.0,B02510,0.0,10.0

In [16]:
#Get month data
Dec = pd.read_csv("fhv_tripdata_2018-12.csv", parse_dates=[0], low_memory=False)
Dec = Dec.dropna(subset= ['Pickup_DateTime'])
Dec = Dec.dropna(subset= ['DropOff_datetime'])
Dec = Dec.dropna(subset= ['DOlocationID'])
Dec = Dec.dropna(subset= ['PUlocationID'])
Dec = Dec.fillna(0)
Dec['Pickup_DateTime'] = pd.to_datetime(Dec['Pickup_DateTime'])
Dec['DropOff_datetime'] = pd.to_datetime(Dec['DropOff_datetime'])
Dec['Trip_Duration'] = (( pd.to_timedelta(Dec.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Dec.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Dec.drop_duplicates(subset=None, keep='first', inplace=False)

Dec.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  if __name__ == '__main__':

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
77,2018-12-02 09:53:30,2018-12-02 10:15:53,179.0,181.0,0.0,B02510,0.0,22.0
81,2018-12-02 18:21:29,2018-12-02 18:42:30,161.0,79.0,0.0,B02510,0.0,21.0
83,2018-12-02 23:01:41,2018-12-02 23:17:06,256.0,225.0,0.0,B02510,0.0,15.0
84,2018-12-08 22:30:14,2018-12-08 22:54:26,233.0,9.0,1.0,B02510,0.0,24.0
90,2018-12-04 18:31:25,2018-12-04 19:00:32,65.0,50.0,0.0,B02510,0.0,29.0

In [17]:
#Combine month data
Yearly_Data = pd.concat([Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec])

Yearly_Data.head()

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-01-30 21:06:50,2018-01-30 21:15:34,56.0,129.0,0.0,B02884,0.0,9.0
1,2018-01-30 21:20:36,2018-01-30 21:35:29,129.0,112.0,0.0,B02884,0.0,15.0
2,2018-01-30 21:04:45,2018-01-30 21:16:34,47.0,42.0,0.0,B02884,0.0,12.0
3,2018-01-30 21:11:51,2018-01-30 21:40:35,49.0,131.0,0.0,B02884,0.0,29.0
4,2018-01-30 21:43:39,2018-01-30 21:49:59,98.0,121.0,0.0,B02884,0.0,6.0

In [18]:
#Get sample of month data to get yearly data
Yearly_Data_Sample = Yearly_Data.sample(1045000, replace=True)

Yearly_Data_Sample.head()

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
6166738,2018-07-03 21:12:55,2018-07-03 21:53:42,181.0,39.0,1.0,B02878,0.0,41.0
9007458,2018-03-01 17:05:06,2018-03-01 17:21:46,60.0,69.0,0.0,B02876,0.0,17.0
8251365,2018-02-05 09:12:06,2018-02-05 09:27:05,121.0,134.0,0.0,B02867,0.0,15.0
18116460,2018-05-25 10:25:33,2018-05-25 10:30:12,3.0,51.0,0.0,B02884,0.0,5.0
16393856,2018-08-25 21:08:32,2018-08-25 21:23:27,49.0,45.0,0.0,B02617,0.0,15.0

In [20]:
#clean data
Yearly_Data_Sample = Yearly_Data_Sample.sort_values(by=['Pickup_DateTime'])

Yearly_Data_Sample = Yearly_Data_Sample.reset_index() 

Yearly_Data_Sample.head()

,index,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,13252281,2018-01-01 00:00:15,2018-01-01 00:23:43,90.0,42.0,0.0,B02835,0.0,23.0
1,13223354,2018-01-01 00:00:56,2018-01-01 00:06:41,170.0,233.0,0.0,B02765,0.0,6.0
2,13265279,2018-01-01 00:03:12,2018-01-01 00:25:04,188.0,210.0,1.0,B02884,0.0,22.0
3,13212712,2018-01-01 00:03:54,2018-01-01 00:17:52,71.0,37.0,0.0,B02510,0.0,14.0
4,13251736,2018-01-01 00:04:44,2018-01-01 00:13:57,61.0,61.0,0.0,B02876,0.0,9.0

In [21]:
#extract yearly data sample
os.chdir('/Users/macbook/Desktop/Data-Program-Files/Group-Projects/Team-Folder/Raw_Data/')

Yearly_Data_Sample.index.name = '#'
Yearly_Data_Sample.to_csv("FHV_2018_Raw.csv", index=True)