In [2]:
#Set the modules and bring in the data
import csv
import os
import pandas as pd
import numpy as np
import functools
#Join Conditions
def conjunction(*conditions):
    return functools.reduce(np.logical_and, conditions)
#Kelvin to Fahrenheit conversion
def kelvin_to_fahrenheit(tempereture_kelvin):
   tempereture_fahrenheit = (((tempereture_kelvin - 273) * 9/5) + 32)
   return tempereture_fahrenheit

os.chdir('/Users/macbook/Desktop/Data-Program-Files/Group-Projects/Team-Folder/Raw_Data/')

In [7]:
#Get month data
Jan = pd.read_csv("fhv_tripdata_2018-01.csv", parse_dates=[0], low_memory=False)
Jan = Jan.dropna(subset= ['Pickup_DateTime'])
Jan = Jan.dropna(subset= ['DropOff_datetime'])
Jan = Jan.dropna(subset= ['DOlocationID'])
Jan = Jan.dropna(subset= ['PUlocationID'])
Jan = Jan.fillna(0)

is_not_0_p =  Jan['PUlocationID']!=0 #no location 
is_not_264_p =  Jan['PUlocationID']!=264 #unknown location
is_not_265_p =  Jan['PUlocationID']!=265 #unknown location
is_not_0_d =  Jan['DOlocationID']!=0 #no location 
is_not_264_d =  Jan['DOlocationID']!=264 #unknown location
is_not_265_d =  Jan['DOlocationID']!=265 #unknown location

Jan = Jan[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Jan['Pickup_DateTime'] = pd.to_datetime(Jan['Pickup_DateTime'])
Jan['DropOff_datetime'] = pd.to_datetime(Jan['DropOff_datetime'])
#Jan['SR_Flag'] = 0
Jan['Trip_Duration'] = (( pd.to_timedelta(Jan.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jan.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jan.drop_duplicates(subset=None, keep='first', inplace=False)

Jan.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-01-30 21:06:50,2018-01-30 21:15:34,56.0,129.0,0.0,B02884,0.0,9.0
1,2018-01-30 21:20:36,2018-01-30 21:35:29,129.0,112.0,0.0,B02884,0.0,15.0
2,2018-01-30 21:04:45,2018-01-30 21:16:34,47.0,42.0,0.0,B02884,0.0,12.0
3,2018-01-30 21:11:51,2018-01-30 21:40:35,49.0,131.0,0.0,B02884,0.0,29.0
4,2018-01-30 21:43:39,2018-01-30 21:49:59,98.0,121.0,0.0,B02884,0.0,6.0

In [8]:
#Get month data
Feb = pd.read_csv("fhv_tripdata_2018-02.csv", parse_dates=[0], low_memory=False)
Feb = Feb.dropna(subset= ['Pickup_DateTime'])
Feb = Feb.dropna(subset= ['DropOff_datetime'])
Feb = Feb.dropna(subset= ['DOlocationID'])
Feb = Feb.dropna(subset= ['PUlocationID'])
Feb = Feb.fillna(0)

is_not_0_p =  Feb['PUlocationID']!=0 #no location 
is_not_264_p =  Feb['PUlocationID']!=264 #unknown location
is_not_265_p =  Feb['PUlocationID']!=265 #unknown location
is_not_0_d =  Feb['DOlocationID']!=0 #no location 
is_not_264_d =  Feb['DOlocationID']!=264 #unknown location
is_not_265_d =  Feb['DOlocationID']!=265 #unknown location

Feb = Feb[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Feb['Pickup_DateTime'] = pd.to_datetime(Feb['Pickup_DateTime'])
Feb['DropOff_datetime'] = pd.to_datetime(Feb['DropOff_datetime'])
#Feb['SR_Flag'] = 0
Feb['Trip_Duration'] = (( pd.to_timedelta(Feb.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Feb.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Feb.drop_duplicates(subset=None, keep='first', inplace=False)

Feb.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
4,2018-02-09 23:07:22,2018-02-09 23:11:54,188.0,72.0,1.0,B02510,0.0,5.0
5,2018-02-09 23:16:22,2018-02-09 23:39:06,72.0,225.0,1.0,B02510,0.0,23.0
6,2018-02-09 23:21:14,2018-02-09 23:50:55,72.0,49.0,1.0,B02510,0.0,30.0
7,2018-02-09 23:24:22,2018-02-10 00:12:45,71.0,137.0,1.0,B02510,0.0,48.0
8,2018-02-09 23:54:44,2018-02-10 00:01:53,114.0,79.0,0.0,B02510,0.0,7.0

In [10]:
#Get month data
Mar = pd.read_csv("fhv_tripdata_2018-03.csv", parse_dates=[0], low_memory=False)
Mar = Mar.dropna(subset= ['Pickup_DateTime'])
Mar = Mar.dropna(subset= ['DropOff_datetime'])
Mar = Mar.dropna(subset= ['DOlocationID'])
Mar = Mar.dropna(subset= ['PUlocationID'])
Mar = Mar.fillna(0)

is_not_0_p =  Mar['PUlocationID']!=0 #no location 
is_not_264_p =  Mar['PUlocationID']!=264 #unknown location
is_not_265_p =  Mar['PUlocationID']!=265 #unknown location
is_not_0_d =  Mar['DOlocationID']!=0 #no location 
is_not_264_d =  Mar['DOlocationID']!=264 #unknown location
is_not_265_d =  Mar['DOlocationID']!=265 #unknown location

Mar = Mar[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Mar['Pickup_DateTime'] = pd.to_datetime(Mar['Pickup_DateTime'])
Mar['DropOff_datetime'] = pd.to_datetime(Mar['DropOff_datetime'])
#Mar['SR_Flag'] = 0
Mar['Trip_Duration'] = (( pd.to_timedelta(Mar.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Mar.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Mar.drop_duplicates(subset=None, keep='first', inplace=False)

Mar.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-03-14 16:09:42,2018-03-14 16:45:56,241.0,47.0,1.0,B02836,0.0,36.0
1,2018-03-19 13:48:32,2018-03-19 13:54:36,76.0,76.0,1.0,B02836,0.0,6.0
2,2018-03-23 16:30:02,2018-03-23 17:24:16,50.0,223.0,1.0,B02836,0.0,54.0
3,2018-03-08 11:43:28,2018-03-08 11:54:44,210.0,123.0,1.0,B02836,0.0,11.0
4,2018-03-15 12:42:22,2018-03-15 13:40:08,26.0,234.0,0.0,B02836,0.0,58.0

In [12]:
#Get month data
Apr = pd.read_csv("fhv_tripdata_2018-04.csv", parse_dates=[0], low_memory=False)
Apr = Apr.dropna(subset= ['Pickup_DateTime'])
Apr = Apr.dropna(subset= ['DropOff_datetime'])
Apr = Apr.dropna(subset= ['DOlocationID'])
Apr = Apr.dropna(subset= ['PUlocationID'])
Apr = Apr.fillna(0)

is_not_0_p =  Apr['PUlocationID']!=0 #no location 
is_not_264_p =  Apr['PUlocationID']!=264 #unknown location
is_not_265_p =  Apr['PUlocationID']!=265 #unknown location
is_not_0_d =  Apr['DOlocationID']!=0 #no location 
is_not_264_d =  Apr['DOlocationID']!=264 #unknown location
is_not_265_d =  Apr['DOlocationID']!=265 #unknown location

Apr = Apr[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Apr['Pickup_DateTime'] = pd.to_datetime(Apr['Pickup_DateTime'])
Apr['DropOff_datetime'] = pd.to_datetime(Apr['DropOff_datetime'])
#Apr['SR_Flag'] = 0
Apr['Trip_Duration'] = (( pd.to_timedelta(Apr.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Apr.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Apr.drop_duplicates(subset=None, keep='first', inplace=False)

Apr.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-04-02 17:54:25,2018-04-02 18:25:47,211.0,74.0,0.0,B02888,0.0,31.0
1,2018-04-27 16:02:55,2018-04-27 16:16:43,234.0,79.0,0.0,B02888,0.0,14.0
2,2018-04-30 06:45:55,2018-04-30 06:58:40,74.0,243.0,0.0,B02888,0.0,13.0
3,2018-04-22 11:16:12,2018-04-22 11:30:27,195.0,33.0,0.0,B02888,0.0,14.0
4,2018-04-18 17:34:26,2018-04-18 17:53:01,196.0,92.0,0.0,B02888,0.0,19.0

In [13]:
#Get month data
May = pd.read_csv("fhv_tripdata_2018-05.csv", parse_dates=[0], low_memory=False)
May = May.dropna(subset= ['Pickup_DateTime'])
May = May.dropna(subset= ['DropOff_datetime'])
May = May.dropna(subset= ['DOlocationID'])
May = May.dropna(subset= ['PUlocationID'])
May = May.fillna(0)

is_not_0_p =  May['PUlocationID']!=0 #no location 
is_not_264_p =  May['PUlocationID']!=264 #unknown location
is_not_265_p =  May['PUlocationID']!=265 #unknown location
is_not_0_d =  May['DOlocationID']!=0 #no location 
is_not_264_d =  May['DOlocationID']!=264 #unknown location
is_not_265_d =  May['DOlocationID']!=265 #unknown location

May = May[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
May['Pickup_DateTime'] = pd.to_datetime(May['Pickup_DateTime'])
May['DropOff_datetime'] = pd.to_datetime(May['DropOff_datetime'])
#May['SR_Flag'] = 0
May['Trip_Duration'] = (( pd.to_timedelta(May.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(May.Pickup_DateTime).dt.total_seconds() ) / 60).round()
May.drop_duplicates(subset=None, keep='first', inplace=False)

May.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-05-06 16:01:23,2018-05-06 16:10:54,210.0,123.0,0.0,B02869,0.0,10.0
1,2018-05-07 12:17:02,2018-05-07 12:34:53,233.0,226.0,0.0,B02869,0.0,18.0
2,2018-05-02 18:51:20,2018-05-02 19:11:55,100.0,158.0,0.0,B02869,0.0,21.0
3,2018-05-01 12:10:15,2018-05-01 12:17:45,65.0,231.0,0.0,B02869,0.0,8.0
4,2018-05-04 20:20:31,2018-05-04 20:51:38,244.0,254.0,0.0,B02869,0.0,31.0

In [14]:
#Get month data
Jun = pd.read_csv("fhv_tripdata_2018-06.csv", parse_dates=[0], low_memory=False)
Jun = Jun.dropna(subset= ['Pickup_DateTime'])
Jun = Jun.dropna(subset= ['DropOff_datetime'])
Jun = Jun.dropna(subset= ['DOlocationID'])
Jun = Jun.dropna(subset= ['PUlocationID'])
Jun = Jun.fillna(0)

is_not_0_p =  Jun['PUlocationID']!=0 #no location 
is_not_264_p =  Jun['PUlocationID']!=264 #unknown location
is_not_265_p =  Jun['PUlocationID']!=265 #unknown location
is_not_0_d =  Jun['DOlocationID']!=0 #no location 
is_not_264_d =  Jun['DOlocationID']!=264 #unknown location
is_not_265_d =  Jun['DOlocationID']!=265 #unknown location

Jun = Jun[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Jun['Pickup_DateTime'] = pd.to_datetime(Jun['Pickup_DateTime'])
Jun['DropOff_datetime'] = pd.to_datetime(Jun['DropOff_datetime'])
#Jun['SR_Flag'] = 0
Jun['Trip_Duration'] = (( pd.to_timedelta(Jun.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jun.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jun.drop_duplicates(subset=None, keep='first', inplace=False)

Jun.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
243,2018-06-26 13:00:00,2018-06-26 13:40:20,136.0,185.0,0.0,B03084,0.0,40.0
244,2018-06-26 10:00:00,2018-06-26 10:44:06,69.0,48.0,0.0,B03084,0.0,44.0
245,2018-06-26 09:16:00,2018-06-26 09:51:51,169.0,168.0,0.0,B03084,0.0,36.0
246,2018-06-26 08:00:00,2018-06-26 08:43:42,69.0,143.0,0.0,B03084,0.0,44.0
247,2018-06-26 14:30:00,2018-06-26 15:13:14,136.0,259.0,0.0,B03084,0.0,43.0

In [15]:
#Get month data
Jul = pd.read_csv("fhv_tripdata_2018-07.csv", parse_dates=[0], low_memory=False)
Jul = Jul.dropna(subset= ['Pickup_DateTime'])
Jul = Jul.dropna(subset= ['DropOff_datetime'])
Jul = Jul.dropna(subset= ['DOlocationID'])
Jul = Jul.dropna(subset= ['PUlocationID'])
Jul = Jul.fillna(0)

is_not_0_p =  Jul['PUlocationID']!=0 #no location 
is_not_264_p =  Jul['PUlocationID']!=264 #unknown location
is_not_265_p =  Jul['PUlocationID']!=265 #unknown location
is_not_0_d =  Jul['DOlocationID']!=0 #no location 
is_not_264_d =  Jul['DOlocationID']!=264 #unknown location
is_not_265_d =  Jul['DOlocationID']!=265 #unknown location

Jul = Jul[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Jul['Pickup_DateTime'] = pd.to_datetime(Jul['Pickup_DateTime'])
Jul['DropOff_datetime'] = pd.to_datetime(Jul['DropOff_datetime'])
Jul['Trip_Duration'] = (( pd.to_timedelta(Jul.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Jul.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Jul.drop_duplicates(subset=None, keep='first', inplace=False)

Jul.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-07-08 01:06:03,2018-07-08 01:11:44,71.0,71.0,1.0,B02764,0.0,6.0
1,2018-07-03 23:08:31,2018-07-03 23:13:23,16.0,171.0,0.0,B02764,0.0,5.0
2,2018-07-08 13:50:33,2018-07-08 14:20:16,246.0,143.0,0.0,B02764,0.0,30.0
3,2018-07-02 18:11:38,2018-07-02 18:24:24,181.0,97.0,0.0,B02764,0.0,13.0
4,2018-07-06 18:32:00,2018-07-06 18:41:30,226.0,146.0,1.0,B02764,0.0,10.0

In [16]:
#Get month data
Aug = pd.read_csv("fhv_tripdata_2018-08.csv", parse_dates=[0], low_memory=False)
Aug = Aug.dropna(subset= ['Pickup_DateTime'])
Aug = Aug.dropna(subset= ['DropOff_datetime'])
Aug = Aug.dropna(subset= ['DOlocationID'])
Aug = Aug.dropna(subset= ['PUlocationID'])
Aug = Aug.fillna(0)

is_not_0_p =  Aug['PUlocationID']!=0 #no location 
is_not_264_p =  Aug['PUlocationID']!=264 #unknown location
is_not_265_p =  Aug['PUlocationID']!=265 #unknown location
is_not_0_d =  Aug['DOlocationID']!=0 #no location 
is_not_264_d =  Aug['DOlocationID']!=264 #unknown location
is_not_265_d =  Aug['DOlocationID']!=265 #unknown location

Aug = Aug[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
is_not_0_a = Aug['DropOff_datetime'].str[:4]!='3018'
Aug = Aug[conjunction(is_not_0_a)]
Aug['Pickup_DateTime'] = pd.to_datetime(Aug['Pickup_DateTime'])
Aug['DropOff_datetime'] = pd.to_datetime(Aug['DropOff_datetime'])
Aug['Trip_Duration'] = (( pd.to_timedelta(Aug.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Aug.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Aug.drop_duplicates(subset=None, keep='first', inplace=False)

Aug.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
2,2018-08-31 05:42:33,2018-08-31 05:46:38,85.0,89.0,0.0,B02682,0.0,4.0
3,2018-08-31 05:54:35,2018-08-31 06:02:14,85.0,188.0,0.0,B02682,0.0,8.0
4,2018-08-31 06:06:57,2018-08-31 06:29:42,62.0,13.0,0.0,B02682,0.0,23.0
5,2018-08-31 06:34:56,2018-08-31 06:46:38,13.0,170.0,0.0,B02682,0.0,12.0
6,2018-08-31 06:50:26,2018-08-31 07:00:55,233.0,113.0,0.0,B02682,0.0,10.0

In [17]:
#Get month data
Sep = pd.read_csv("fhv_tripdata_2018-09.csv", parse_dates=[0], low_memory=False)
Sep = Sep.dropna(subset= ['Pickup_DateTime'])
Sep = Sep.dropna(subset= ['DropOff_datetime'])
Sep = Sep.dropna(subset= ['DOlocationID'])
Sep = Sep.dropna(subset= ['PUlocationID'])
Sep = Sep.fillna(0)

is_not_0_p =  Sep['PUlocationID']!=0 #no location 
is_not_264_p =  Sep['PUlocationID']!=264 #unknown location
is_not_265_p =  Sep['PUlocationID']!=265 #unknown location
is_not_0_d =  Sep['DOlocationID']!=0 #no location 
is_not_264_d =  Sep['DOlocationID']!=264 #unknown location
is_not_265_d =  Sep['DOlocationID']!=265 #unknown location

Sep = Sep[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Sep['Pickup_DateTime'] = pd.to_datetime(Sep['Pickup_DateTime'])
Sep['DropOff_datetime'] = pd.to_datetime(Sep['DropOff_datetime'])
Sep['Trip_Duration'] = (( pd.to_timedelta(Sep.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Sep.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Sep.drop_duplicates(subset=None, keep='first', inplace=False)

Sep.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
21,2018-09-15 15:50:43,2018-09-15 16:15:09,162.0,158.0,0.0,B02510,0.0,24.0
22,2018-09-15 15:50:43,2018-09-15 15:58:32,112.0,80.0,1.0,B02510,0.0,8.0
23,2018-09-15 15:50:43,2018-09-15 16:05:04,14.0,22.0,0.0,B02510,0.0,14.0
24,2018-09-15 15:50:44,2018-09-15 16:06:35,234.0,48.0,1.0,B02510,0.0,16.0
25,2018-09-15 15:50:44,2018-09-15 16:11:54,87.0,158.0,0.0,B02510,0.0,21.0

In [18]:
#Get month data
Oct = pd.read_csv("fhv_tripdata_2018-10.csv", parse_dates=[0], low_memory=False)
Oct = Oct.dropna(subset= ['Pickup_DateTime'])
Oct = Oct.dropna(subset= ['DropOff_datetime'])
Oct = Oct.dropna(subset= ['DOlocationID'])
Oct = Oct.dropna(subset= ['PUlocationID'])
Oct = Oct.fillna(0)

is_not_0_p =  Oct['PUlocationID']!=0 #no location 
is_not_264_p =  Oct['PUlocationID']!=264 #unknown location
is_not_265_p =  Oct['PUlocationID']!=265 #unknown location
is_not_0_d =  Oct['DOlocationID']!=0 #no location 
is_not_264_d =  Oct['DOlocationID']!=264 #unknown location
is_not_265_d =  Oct['DOlocationID']!=265 #unknown location

Oct = Oct[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Oct['Pickup_DateTime'] = pd.to_datetime(Oct['Pickup_DateTime'])
Oct['DropOff_datetime'] = pd.to_datetime(Oct['DropOff_datetime'])
Oct['Trip_Duration'] = (( pd.to_timedelta(Oct.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Oct.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Oct.drop_duplicates(subset=None, keep='first', inplace=False)

Oct.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
255,2018-10-31 10:24:04,2018-10-31 10:39:49,225.0,61.0,0.0,B02764,0.0,16.0
256,2018-10-31 10:45:08,2018-10-31 11:00:17,61.0,97.0,0.0,B02764,0.0,15.0
257,2018-10-31 11:06:08,2018-10-31 11:19:25,97.0,33.0,0.0,B02764,0.0,13.0
258,2018-10-31 11:44:44,2018-10-31 12:02:40,37.0,255.0,0.0,B02764,0.0,18.0
259,2018-10-31 12:05:24,2018-10-31 12:16:45,255.0,256.0,0.0,B02764,0.0,11.0

In [19]:
#Get month data
Nov = pd.read_csv("fhv_tripdata_2018-11.csv", parse_dates=[0], low_memory=False)
Nov = Nov.dropna(subset= ['Pickup_DateTime'])
Nov = Nov.dropna(subset= ['DropOff_datetime'])
Nov = Nov.dropna(subset= ['DOlocationID'])
Nov = Nov.dropna(subset= ['PUlocationID'])
Nov = Nov.fillna(0)

is_not_0_p =  Nov['PUlocationID']!=0 #no location 
is_not_264_p =  Nov['PUlocationID']!=264 #unknown location
is_not_265_p =  Nov['PUlocationID']!=265 #unknown location
is_not_0_d =  Nov['DOlocationID']!=0 #no location 
is_not_264_d =  Nov['DOlocationID']!=264 #unknown location
is_not_265_d =  Nov['DOlocationID']!=265 #unknown location

Nov = Nov[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Nov['Pickup_DateTime'] = pd.to_datetime(Nov['Pickup_DateTime'])
Nov['DropOff_datetime'] = pd.to_datetime(Nov['DropOff_datetime'])
Nov['Trip_Duration'] = (( pd.to_timedelta(Nov.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Nov.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Nov.drop_duplicates(subset=None, keep='first', inplace=False)

Nov.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-11-30 15:36:17,2018-11-30 15:47:07,226.0,260.0,0.0,B02510,0.0,11.0
1,2018-11-30 15:36:18,2018-11-30 16:05:37,121.0,10.0,0.0,B02510,0.0,29.0
2,2018-11-30 15:36:18,2018-11-30 15:58:02,211.0,40.0,0.0,B02510,0.0,22.0
3,2018-11-30 15:36:20,2018-11-30 16:59:23,132.0,170.0,0.0,B02510,0.0,83.0
4,2018-11-30 15:36:20,2018-11-30 15:46:32,189.0,25.0,0.0,B02510,0.0,10.0

In [20]:
#Get month data
Dec = pd.read_csv("fhv_tripdata_2018-12.csv", parse_dates=[0], low_memory=False)
Dec = Dec.dropna(subset= ['Pickup_DateTime'])
Dec = Dec.dropna(subset= ['DropOff_datetime'])
Dec = Dec.dropna(subset= ['DOlocationID'])
Dec = Dec.dropna(subset= ['PUlocationID'])
Dec = Dec.fillna(0)

is_not_0_p =  Dec['PUlocationID']!=0 #no location 
is_not_264_p =  Dec['PUlocationID']!=264 #unknown location
is_not_265_p =  Dec['PUlocationID']!=265 #unknown location
is_not_0_d =  Dec['DOlocationID']!=0 #no location 
is_not_264_d =  Dec['DOlocationID']!=264 #unknown location
is_not_265_d =  Dec['DOlocationID']!=265 #unknown location

Dec = Dec[conjunction(is_not_0_p,is_not_264_p,is_not_265_p,is_not_0_d,is_not_264_d,is_not_265_d)] #clean data
Dec['Pickup_DateTime'] = pd.to_datetime(Dec['Pickup_DateTime'])
Dec['DropOff_datetime'] = pd.to_datetime(Dec['DropOff_datetime'])
Dec['Trip_Duration'] = (( pd.to_timedelta(Dec.DropOff_datetime).dt.total_seconds() - pd.to_timedelta(Dec.Pickup_DateTime).dt.total_seconds() ) / 60).round()
Dec.drop_duplicates(subset=None, keep='first', inplace=False)

Dec.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
77,2018-12-02 09:53:30,2018-12-02 10:15:53,179.0,181.0,0.0,B02510,0.0,22.0
81,2018-12-02 18:21:29,2018-12-02 18:42:30,161.0,79.0,0.0,B02510,0.0,21.0
83,2018-12-02 23:01:41,2018-12-02 23:17:06,256.0,225.0,0.0,B02510,0.0,15.0
84,2018-12-08 22:30:14,2018-12-08 22:54:26,233.0,9.0,1.0,B02510,0.0,24.0
90,2018-12-04 18:31:25,2018-12-04 19:00:32,65.0,50.0,0.0,B02510,0.0,29.0

In [21]:
#Combine month data
Yearly_Data = pd.concat([Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec])

Yearly_Data.head()

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,2018-01-30 21:06:50,2018-01-30 21:15:34,56.0,129.0,0.0,B02884,0.0,9.0
1,2018-01-30 21:20:36,2018-01-30 21:35:29,129.0,112.0,0.0,B02884,0.0,15.0
2,2018-01-30 21:04:45,2018-01-30 21:16:34,47.0,42.0,0.0,B02884,0.0,12.0
3,2018-01-30 21:11:51,2018-01-30 21:40:35,49.0,131.0,0.0,B02884,0.0,29.0
4,2018-01-30 21:43:39,2018-01-30 21:49:59,98.0,121.0,0.0,B02884,0.0,6.0

In [22]:
#Get sample of month data to get yearly data
Yearly_Data_Sample = Yearly_Data.sample(1045000, replace=True)

Yearly_Data_Sample.head()

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
15093275,2018-09-23 20:07:57,2018-09-23 20:22:58,255.0,198.0,0.0,B02765,0.0,15.0
17284162,2018-07-23 09:09:11,2018-07-23 09:44:50,72.0,201.0,0.0,B02882,0.0,36.0
11294050,2018-07-09 17:59:25,2018-07-09 18:08:52,158.0,113.0,0.0,B02682,0.0,9.0
15553563,2018-02-02 13:58:09,2018-02-02 14:25:44,51.0,78.0,0.0,B02510,0.0,28.0
4767606,2018-05-18 02:09:07,2018-05-18 02:27:49,141.0,244.0,0.0,B02800,0.0,19.0

In [23]:
#clean data
Yearly_Data_Sample = Yearly_Data_Sample.sort_values(by=['Pickup_DateTime'])

Yearly_Data_Sample = Yearly_Data_Sample.reset_index() 

Yearly_Data_Sample.head()

,index,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Dispatching_base_number,Dispatching_base_num,Trip_Duration
0,13263997,2018-01-01 00:00:02,2018-01-01 00:34:21,148.0,48.0,0.0,B02875,0.0,34.0
1,13221705,2018-01-01 00:04:52,2018-01-01 00:19:04,65.0,61.0,1.0,B02682,0.0,14.0
2,13265646,2018-01-01 00:05:05,2018-01-01 00:18:08,114.0,148.0,0.0,B02884,0.0,13.0
3,13189572,2018-01-01 00:05:41,2018-01-01 00:26:39,79.0,189.0,0.0,B02876,0.0,21.0
4,13272532,2018-01-01 00:06:22,2018-01-01 00:26:00,7.0,130.0,0.0,B02876,0.0,20.0

In [24]:
#extract yearly data sample
os.chdir('/Users/macbook/Desktop/Data-Program-Files/Group-Projects/Team-Folder/Raw_Data/')

Yearly_Data_Sample.index.name = '#'
Yearly_Data_Sample.to_csv("FHV_2018_Raw.csv", index=True)